<h2><%= @party.name %></h2>

Organizator : <%= @party.user.name %><br />
Miejsce : <%= @party.place %><br />
Data i godzina : <%= @party.when %><br />
Dla kogo : <%= @party.for_who %><br />
Opis : <%= @party.description %><br />

